<html>

<head>
	<!-- This is the AddUser Page -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap_litera.min.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='default_style.css') }}">
	<style type="text/css">
		.topcorner {
			position: absolute;
			top: 0;
			right: 0;
		}
		body {
			text-align:center;
			margin:5%;
			}
		.adduser-div {
			margin: 0 auto;
			width: 50%;
		}
	</style>
</head>

<body>

	<!-- CREATE TABLE User(
    UID INTEGER PRIMARY KEY,
    Username TEXT,
    Password TEXT,
    Address TEXT,
    Name TEXT,
    OID INTEGER,
    FOREIGN KEY(OID) REFERENCES OrderTable(OID)); -->

	<a href="/logout" class="btn btn-default topcorner">Logout</a>
	<div class="adduser-div">
		<form action="{{ url_for('addUserData') }}" method="POST">
			<h3>CartCombo User Information</h3>
			<!-- Username -->
			<div class="form-group">
				<label class="col-form-label" for="inputDefault">Username</label>
				<input type="text" name="username" class="form-control" id="inputDefault" placeholder="">
			</div>

			<!-- Password -->
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="text" name="password" class="form-control" id="exampleInputPassword1" placeholder="">
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCity">First Name</label>
					<input type="text" name="firstname" class="form-control" placeholder="" id="inputDefault">
				</div>
				<div class="form-group col-md-6">
					<label for="inputCity">Last Name</label>
					<input type="text" name="lastname" class="form-control" placeholder="" id="inputDefault">
				</div>
			</div>

			<!-- Email -->
			<div class="form-group">
				<label for="exampleInputEmail1">Email</label>
				<input type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
				<small id="emailHelp" class="form-text text-muted">Your email will be used for notifications you enable, and won't be shared or distributed.</small>
			</div>

			<!-- Address Grid, first line is full address for now, other fields will be used later -->
			<div class="form-group">
				<label for="inputAddress">Address</label>
				<input type="text" name="inputAddress" class="form-control" id="inputAddress" placeholder="1234 Main St">
			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputCity">City</label>
					<input type="text" name="inputCity" class="form-control" id="inputCity">
				</div>

				<div class="form-group col-md-4">
					<label for="inputState">State</label>
					<input type="text" name="inputState" class="form-control" id="inputState">
				</div>
				<div class="form-group col-md-2">
					<label for="inputZip">Zip</label>
					<input type="text" name="inputZip" class="form-control" id="inputZip">
				</div>
			</div>


			<input type="submit" value="Register" class="btn btn-secondary" /><br>
		</form>
	</div>
</body>

</html>
