<!doctype html>
<html ng-app="ProfileApp">

<head>
    <!-- This is the Profile Page -->
    <title>{{profile['firstname']}}'s Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap_litera.min.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='default_style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="{{ url_for('static',filename='js/profile.js') }}"></script>

    <style type="text/css">
        .title {
            color: var(--greydark)
        }

        section,
        .options {
            background-color: white;
            border-top: none;
        }

        body {
            font-family: 'Ubuntu', sans-serif;
        }

        h1 .btn-group {
            display: inline-block;
        }

        .btn-group {
            float: right;
        }
        .btn-secondary {
            margin-left: 5%;
            padding-top: 2px;
            padding-bottom: 5px;
        }

        strong {
            font-weight: bold;
        }

        .wrapper {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        p {
            padding: 0px;
        }
        #pen {
            margin-right:.5em;
        }
        #ratebutton, #matchbutton {
            /*position: absolute;*/
            /*right: 25px;*/
            border-radius: 4px;
            padding-left: 4.5px;
            padding-right: 4.5px;
            padding-top: 2px;
            padding-bottom: 2px;
            margin-left: 10px;
            font-size: .875em;
        }
        #ratebutton{
            background-color: var(--navy2);
            border-color: var(--navy1);
            /*border-width:1.5px;*/
        }
        #ratebutton:hover {
            color: #fff;
            background-color: var(--navy1);
            border-color: var(--navy1)
        }

        #ratebutton:focus, #ratebutton.focus {
            -webkit-box-shadow: 0 0 0 0.2rem var(--navy1);
            box-shadow: 0 0 0 0.2rem var(--navy1)
        }
        #matches {
            margin-left: 0px;
            margin-right: 0px;
            padding:0em;

        }
        .breadcrumb {
            margin-bottom: .5em;
            margin-left: .5em;
            margin-top: .5em;
            padding: .5em;

        }
    </style>
</head>

<body style="background-color: white">
    <header>
        <h2>Here's your profile, {{profile['firstname']}}:
            <div class="btn-group" style="margin-top: 5px;">
              <button type="button" class="btn btn-secondary"><a href="/" style="color: white; text-decoration: none;"><small>Back to Dashboard</small></a>
              <!-- <button type="button" class="btn btn-secondary"><a href="/" style="color: white; text-decoration: none;"><small>Back to Dashboard</small></a> -->
              </button><button type="button" class="btn btn-secondary"><a href="/logout" style="color: white; text-decoration: none;"><small>Logout</small></a>
            </div>
    </h2>
        <!-- <div class="options">
            <a href="#" class="options-link link-active">Home</a>
            <a href="#" class="options-link">About</a>
            <a href="#" class="options-link">Gallery</a>
            <a href="#" class="options-link">Blog</a>
            <a href="#" class="options-link">References</a>
            <a href="#" class="options-link">Contant</a>
        </div> -->
    </header>
    <script>
        // window.onload = control;

        // //Ajax call:
        // function control() {
        //     console.log({{listOfMatches}})
        // }
        $(document).ready(function() {
            setButtons()
            setInterval( function() { setButtons(); }, 5000);
        });

        function setButtons() {
            $.ajax({
                type: 'GET',
                url: "/api/getCurrentMatches",
                success: function(matchStatus) {
                    matchStatus = JSON.parse(matchStatus);
                    for(var i = 0; i < matchStatus.length; i++) {
                        console.log(matchStatus[i].uid2, matchStatus[i].status2)
        				button = "#current_" + matchStatus[i].uid2 + " #matchbutton"
                        if (matchStatus[i].status1 == 1 && matchStatus[i].status2 == 1) {
                                $(button).attr("class", "btn-info")
                                $(button).val("Accepted")
                                $(button).attr("disabled", "disabled")
                        }
                        else { //Reset default button behavior if not in premath table
                                            // console.log(matchStatus[i].uid2, matchStatus[i].status2)
                            // button = "button #matchbutton"
                            // console.log("getting here")
                            $(button).removeAttr("disabled")
                            $(button).attr("class", "btn-success")
                            $(button).val("Match")
                        }
                    }
                },
                error: function(data) {
                    console.log("Error pulling addresses from database via cartCombo_app.py and ajax call\n")
                }
            });
        }

        function acceptMatch(type, user) {
            console.log(user[0], user[1], user[2], user[3])
            $.ajax({
                type: 'GET',
                url: "/acceptMatch?uid1=" + user[2] + "&&uid2=" + user[3],
                success: function(data) {
                    console.log("match successful between " + user[2] + " and " + user[3])
                    // $(".cardpane #user_" + otherID + " #ratebutton").attr("disabled", "disabled")
                    // $(".cardpane #user_" + otherID + " #ratebutton").attr("class", "btn-secondary")
                    // $(".cardpane #user_" + otherID + " #ratebutton").text("Match Pending")
                },
                error: function(data) {
                    console.log("Error pulling addresses from database via cartCombo_app.py and ajax call\n")
                }
            });
            closeModal(type, user);
        }

        function showModal(modal, userinfo) {
            console.log(modal, userinfo)
            if (modal=="name") { $('#nameModal').show()}
            else if (modal=="address") { $('#addressModal').show() }
            // else if (modal=="address") { $('#addressModal').show() }
            else if (modal=="match") {
                console.log(userinfo)
                $('#matchModal').show()
				$('.modal-header').append("<button type='button' class='close' data-dismiss='modal' onClick='acceptMatch(\"match\", [" + userinfo['status1'] + ", " + userinfo['status2'] + ", " + userinfo['uid1'] + ", " + userinfo['uid2'] + "])' aria-label='Close'><span aria-hidden='true'>&times;</span></button>")

            }
            else if (modal=="contact") { $('#contactModal').show() }
            else if (modal=="rate") {
                // $( "#rateModal h5" ).text( "hello" );
                $('#rateModal').show()
				$('.modal-footer').append("<button type='button' class='btn btn-primary' onClick='submitRating(\"" + userinfo[3] + ", " + {{profile['uid']}} + "\")'>Submit Rating</button>")
                // console.log(userinfo[0], userinfo[1], userinfo[2], userinfo[3])
            }
            else if (modal=="cart") { $('#cartModal').show()}
            $('.wrapper').css("opacity", "0.20")
        }
        function closeModal(type, username) {
            if (type=="match") {
                console.log("username:", username[3])

                button = "#current_" + username[3] + " #matchbutton"
                $(button).attr("class", "btn-info")
                $(button).val("Accepted")
                $(button).attr("disabled", "disabled")
            }
            $('.modal').hide()
            $('#rateModal .modal-content').remove("button")
            $('.wrapper').css("opacity", "1.0")
			$("#rateModal .btn-primary").remove()
			$("#matchModal .close").remove()
        }
        function clear(id) {
            $(id).removeClass('is-invalid')
            // $(id).val('')
        }
        function submitRating(theirID, myID) {
            rating = $('#rateModal select').val()
            console.log(theirID, myID, rating)

        }
        function editData(fields) {
            url = "/api/updateUser?"
            console.log(fields)
            var missing = false;
            for (var i=0; i<fields.length; i++) {
                if (!$("#" + fields[i]).val()) {
                    $("#" + fields[i]).addClass('is-invalid');
                    missing = true;
                }
                else { $("#" + fields[i]).removeClass('is-invalid');}
            }
            if (missing) {return;}

            for (var i=0; i<fields.length; i++) {
                console.log(
                    "field name: "+fields[i] +
                    "field value: " + String($("#"+fields[i]).val()));

                url = url.concat(fields[i] + "=" + $("#" + fields[i]).val())
                if (i != fields.length-1) { url = url.concat("&&") }
            }
            console.log(url)
            $.ajax({
                type: 'GET',
                url: url,
                success: function(data) {
                    closeModal()
                    for (var i=0; i<fields.length; i++) {
                            console.log("Close Modal: ", $("#" + fields[i]).val());
                            $("#" + fields[i] + "_p").text($("#" + fields[i]).val())
                            clear("#" + fields[i])
                    }
                },
                error: function(data) {
                    console.log("Error pulling addresses from database via cartCombo_app.py and ajax call\n")
                }
            });

        }
    </script>

    <!-- NAME MODAL -->
    <div class="modal" id="nameModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Names:</h5>
                        <button type="button" class="close" data-dismiss="modal"  onClick="closeModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="inputAddress" class="form-control" id="firstname" placeholder="First Name" value = "{{profile['firstname']}}"required><br>
                            <input type="text" name="inputAddress" class="form-control" id="lastname" placeholder="" value = "{{profile['lastname']}}"required><br>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onClick="editData(['firstname','lastname'])">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


    <!-- ADDRESS MODAL -->
    <div class="modal" id="addressModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Shipping Address:</h5>
                    <button type="button" class="close" data-dismiss="modal" onClick="closeModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" class="form-control" id="address" placeholder="Street Address" value = "{{profile['address']}}">
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="city" placeholder="City" value = "{{profile['city']}}">
                        </div>

                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" id="state" placeholder="State" value = "{{profile['state']}}">

                        </div>
                        <div class="form-group col-md-2">
                            <input type="text" class="form-control" id="zip" placeholder="Zip" value = "{{profile['zip']}}">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onClick="editData(['address','city','state','zip'])">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- CONTACT MODAL -->
    <div class="modal" id="contactModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Contact Information:</h5>
                        <button type="button" class="close" data-dismiss="modal"  onClick="closeModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" placeholder="Email Address" value= "{{profile['email']}}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onClick="editData(['email'])">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- SUCCESSFUL MATCH MODAL -->
        <div class="modal" id="matchModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">Match Successful!
                        </div>
                    </div>
                </div>
            </div>

        <!-- CART ADD MODAL -->

    <div class="modal" id="cartModal" ng-controller="ImportCartCtrl">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Import Cart: </h5>
                        <button type="button" class="close" data-dismiss="modal"  onClick="closeModal()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" placeholder="Wishlist ID #" required ng-model="wishtlistID">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="importCart()">Import Cart</button>
                    </div>
                </div>
            </div>
        </div>

    <!-- Rate MODAL -->
    <div class="modal" id="rateModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5> Rating User: </h5>
                <button type="button" class="close" data-dismiss="modal" onClick="closeModal()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <select id="example" style="width: 100px">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-primary" onClick="submitRating()">Submit</button> -->
            </div>
        </div>
    </div>
</div>

    <div class="wrapper" style="margin-top: 20px">
        <div class="row">
            <div class="col-5">
                <div class="card bg-light mb-3" style="background-color: var(--light);">
                    <div class="card-header" style="background-color: var(--navy2); color: white">

                        Past Matches:</div>

                        {% set columns = 1 %}
                        <div class="row" id="matches">
                            {% for user in unRatedUsers %}
                            <ol class="breadcrumb" id="past_{{user[0]}}">
                              <li class="breadcrumb-item active">{{user[1]}} {{user[2]}}</li>
                              <input type="button" id=ratebutton value="Rate" class="btn btn-success" onClick="showModal('rate', ['{{user[0]}}','{{user[1]}}','{{user[2]}}', '{{user[3]}}'])" ></input>
                            </ol>
                                {% if loop.index % columns %}
                                    </div>
                                    <div class="row" id="matches">
                                {% endif %}
                            {% endfor %}
                        </div>
                </div>
                <div id="profile" class="card bg-light mb-3" style="background-color: var(--light);">
                    <div class="card-header" style="background-color: var(--neutral); color: white">
                        <a href="#"><img id="pen" data-toggle="modal" src="{{ url_for('static',filename='images/edit.png') }}" width="15em" onclick="showModal('name')"/></a> Aliases:
                    </div>
                    <div class="card-body">
                            <div>
                            <strong>Username</strong>: {{profile['username']}}<br>
                            </div>

                            <div>
                            <strong>First Name</strong>: <span id='firstname_p'>{{profile['firstname']}}</span><br>
                        </div>
                        <div>
                            <strong>Last Name</strong>: <span id="lastname_p">{{profile['lastname']}}</span>
                        </div>
                    </div>
                </div>
                <div class="card bg-light mb-3" style="background-color: var(--light);">
                    <div class="card-header" style="background-color: var(--orange1); color: white">

                        <a href="#"><img id="pen" src="{{ url_for('static',filename='images/edit.png') }}" width="15em" onclick="showModal('address')"></a> Address:


                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <span id="address_p">{{profile['address']}}</span><br>
                            <span id="city_p">{{profile['city']}}</span>,
                            <span id="state_p">{{profile['state']}}</span>
                            <span id="zip_p">{{profile['zip']}}</span></p>
                    </div>
                </div>
                <!-- <section> -->
                <div class="card bg-light mb-3" style="background-color: var(--light);">
                    <div class="card-header" style="background-color: var(--darkorange); color: white">

                        <a href="#"><img id="pen" src="{{ url_for('static',filename='images/edit.png') }}" width="15em" onclick="showModal('contact')"></a>Contact Information:</div>
                    <div class="card-body">
                        <p class="card-text"><strong>Email:</strong>
                            <span id="email_p">{{profile['email']}}</span></p>
                    </div>
                </div>
            </div>
                            <!-- </section> -->
                <div class="col-7">
                <!-- <section> -->
                <div class="card bg-light mb-3" style="background-color: var(--light);" ng-controller="ImportMatchCtrl">
                    <div class="card-header" style="background-color: var(--teal1); color: white">

                        Pending and Current Matches:</div>

                        <div class="row" id="matches">

                            <ol class="breadcrumb" id="current_{{'{{ match["uid2"]}}'}}" ng-repeat="match in listOfMatches" >
                              <li class="breadcrumb-item active">{{'{{ match["firstname"]}}'}} {{'{{ match["lastname"]}}'}}</li>
                              <input type="button" id=matchbutton value="Match" class="btn btn-success" ng-click="showModal('match', match)" ></input>
                            </ol>
                                    </div>
                                    <div class="row" id="matches">
                        </div>
                </div>

                <div class="card bg-light bg-6" style="background-color: var(--light);" ng-controller="ImportCartCtrl">
                    <div class="card-header" style="background-color: var(--orange2); color: white">Your Current Carts:
                    <button type="button" style="float: right; background-color: white; color: var(--darkblue); text-decoration: none" class="btn btn-secondary" onclick="showModal('cart')"><small>Import Carts</small></button>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="card-body" ng-repeat="cart in listOfCarts">
                                <div class="card border-secondary">
                                    <div>
                                        <h6 class="card-header" style="text-align:left;">ID #{{'{{cart["cartID"]}}'}}
                                          <span style="float:right;"></span>
                                      </h6>
                                    </div>

                                    <div class="card-body" ng-repeat="item in listOfItems" ng-if="item['cartID']==cart['cartID']">
                                        <!-- <p class="card-text"> -->
                                        <p style="text-align:left; margin-bottom: .5em">
                                            {{'{{item["description"]}}'}} (ID: {{'{{item["itemID"]}}'}}):
                                            <span style="float:right;">${{'{{item["price"]}}'}}</span>
                                            <!-- </p> -->
                                        </p>
                                    </div>
                                    <div class="card-footer" href="#" class="info-link" style="text-align: right; padding-right: 20px">Total: $89.36</div>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
          <button id=combine class='btn btn-success' onClick=''>Combine Carts</button>
    </div>

</body>
</html>
